<header class="border-b border-gray-200 md:border-none">
    {% include 'body/header/searchbar.html.twig' %}
</header>
<nav class="bg-gray-100 relative hidden md:block">
    <div class="container">
        {% include 'body/header/navbar.html.twig' %}
    </div>
</nav>